.About-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-items: center;
  height: 100vh;
  background-color:url('../resources/white-bg2.png');
  text-align: center;
  margin: 0 auto;
}

.my-info-section {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}

.tech-stack-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 100%;
  }

.tech-stack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2,1fr);
  grid-gap: 2rem;
  margin-right: 4rem;
}

.skills-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.icon-stack {
    background-color: #dddddd;
    opacity: .5;
    padding: 2rem;
}

.icon-stack:hover {
    background-color: #dddddd;
    opacity: 1;
}

.description-container {
    text-align: justify;
    margin-left: 4rem;
    width: 80%;
}

.about-title {
    display: inline;
    color: #212529;
    font-size: 2rem;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(45deg,#0294DC,#02EDFE);
    border-image-slice: 1;
    padding-bottom: 10px;
}


.about__img-container {
   border-radius: 50%;
   width: 40%;
   max-width: 300px;
   margin-top: 6rem;
   margin-left: 4rem;
   margin-bottom: 2rem;
   justify-self: flex-start;
}

.my-img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, .5);
}

.description {
    color: #435560;
    font-size: 1.1rem;
    margin-top: 2rem;
    letter-spacing: .12rem;
    width: 100%;
}





