.proyects-container {
    /*background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);*/
    background-color: #ffffff;
    
    display: flex;
    flex-flow: column nowrap;   
    align-items: center;
    justify-items: center;
}

.mywork-title{
    font-size: 3rem;
    color: #212529;
    /*color: white;*/
    letter-spacing: 5px;
    padding-bottom: 4rem;
}

.mywork-subtitle{
    letter-spacing: .25rem;
    padding-top: 2rem;
    font-size: 1rem;
    color:#28b5b5;
    padding-top: 6.5rem;
}

