.proyects-container {
    /*background: rgb(254,254,254);
    background: linear-gradient(90deg, rgba(254,254,254,1) 0%, rgba(245,247,250,1) 35%, rgba(233,235,241,1) 100%);
    0EB1D2 -- a
   */
    background:  url('../resources/white-bg2.png');
    display: flex;
    flex-flow: column nowrap;   
    align-items: center;
    justify-items: center;
}

.proyects__mywork{
    font-size: 3rem;
    color: #212529;
    padding-top: 6rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(45deg,#0294DC,#02EDFE);
    border-image-slice: 1;
}

